<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">


{{>client/header}}
<style type="text/css">
    .searchresult {
        margin-top: 5px;
    }

    .swiper-slide {
        width: 160px;
        height: 330px;
        cursor: pointer;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        overflow: hidden;
    }

    .swiper-slide img {
        height: 330px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        font-weight: bold;
        margin: 5px 0;
    }

    #userStoryFeed {
        background: #fff;
    }

    #userStoryFeed .swiper-slide img {
        width: auto;
    }

    @media (max-width: 500px) {
        .swiper-slide {
            height: 320px;
        }

        .swiper-slide img {
            height: 320px;
        }
    }
</style>


<div class="container photoDetail">
    <div class="breadcrumbs">
        <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <a href="/" itemprop="url"> <span
                    itemprop="title">TubZi </span> </a> » </div>
        <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <a
                href="https://tubzi.com/neetubisht/tiktok-user/180450961470111745" itemprop="url"> <span
                    itemprop="title">{{userInfo.uniqueId}} </span> </a> » </div> <span
            itemprop="title">{{userInfo.uniqueId}} 's posts </span>
    </div>

    <div class="searchresult">
        <div class="row">
            <div class="col-xs-12 col-md-8 searchresultleft">
                <div class="searchresultleftdiv">
                    <div class="pptabdiv">
                        <ul>
                            <div>
                                <li class="pp1"> <a href="https://tubzi.com/neetubisht/tiktok-user/180450961470111745">
                                        <img src="{{createAvatarUser userInfo}}" alt=" {{videoInfo.text}}">
                                        <h2>@{{userInfo.uniqueId}} <strong>{{userInfo.nickName}}</strong></h2>
                                    </a> <span>{{timeDifference videoInfo.createTime}}</span> </li>
                                <li class="location pp2"></li>
                                <div style="width:100%; text-align:center;margin-bottom:10px;" class="videoMusicInfo">
                                    <p><a
                                            href="{{createUrlTikTokMusic videoInfo.musicMeta.musicName videoInfo.musicMeta.musicId}}">
                                            <i class="fa fa-music" aria-hidden="true"></i>
                                            {{videoInfo.musicMeta.musicAuthor}} - {{videoInfo.musicMeta.musicName}}</a>
                                    </p>
                                </div>
                                <div style="text-align:center;"> <video id="player" autoplay="" playsinline=""
                                        controls="" loop="" class="narrowVideo"
                                        style="padding-left: 10px; padding-bottom:10px" poster="{{videoInfo.imageUrl}}">
                                        <source src="{{videoInfo.videoUrl}}" type="video/mp4"> </video> </div>
                            </div>
                            <p class="photoCaption">

                                {{videoInfo.text}}

                            </p>
                            <p class="photoAllTags"> <a href="https://tubzi.com//tiktok-tag">#</a></p>
                            <li class="pp4 pp4Detail"> <span
                                    title="@neetubisht- Neetu Bisht TubZi TikTok Video Like Count" class="photolike"> <i
                                        class="fa fa-heart-o" aria-hidden="true"></i>
                                    {{numberWithCommas videoInfo.diggCount}}</span> <span
                                    title="@neetubisht- Neetu Bisht TubZi TikTok Video Comment Count"
                                    class="photocomment"> <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    {{numberWithCommas videoInfo.commentCount}}</span>
                                <span title="@neetubisht- Neetu Bisht TubZi TikTok Video Share Count"
                                    class="photocomment"> <i class="fa fa-share" aria-hidden="true"></i>
                                    {{numberWithCommas videoInfo.shareCount}}</span>
                            </li>
                            <li>
                                <p class="videoExplain">This post was published on <i>TikTok App</i>
                                    {{timeDifference videoInfo.createTime}} by
                                    <strong>{{userInfo.nickName}}</strong> ({{userInfo.uniqueId}}). Video
                                    {{numberWithCommas videoInfo.diggCount}} Liked by tiktok users, has
                                    received {{numberWithCommas videoInfo.commentCount}} comments and has been published
                                    {{numberWithCommas videoInfo.shareCount}} times in total. </p>
                            </li>
                            <li> </li>
                            <li class="pp5"> <a class="ppa ppa1" href="{{videoInfo.videoUrl}}" download=""><i
                                        class="fa fa-download"></i> Download This Video</a> <a class="ppa ppa1"
                                    href="https://tubzi.com/neetubisht/tiktok-user/180450961470111745"><i
                                        class="fa fa-search"></i>Other Videos</a> </li>
                        </ul>
                    </div>
                    <h2 class="phtp1">TikTok Popular Videos</h2>
                    <div id="userStoryFeed">

                        <div id="stroiesGallery" class="swiper-container swiper-container-horizontal">
                            <div class="swiper-wrapper">
                                {{#each sliderTrendPosts}}
                                <div class="swiper-slide"><a
                                        href="{{createUrlDetail  this.authorMeta.name this.id}}">
                                        <figure><img data-src="{{this.covers.dynamic}}" class="swiper-lazy"
                                                alt="{{this.text}}">
                                        </figure>
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                            <div class="swiper-button-prev slider-button"><i class="fa fa-chevron-left"></i></div>
                            <div class="swiper-button-next slider-button"><i class="fa fa-chevron-right"></i></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .mostPopularTags {
        margin-bottom: 25px;
    }

    .mostPopularTags .relatedTags li a {
        padding: 5px 6px;
    }

    .mostPopularTags .relatedTags li {
        margin: 3px 3px;
    }

    .tagHeader h3 {
        font-weight: normal
    }
</style>

<div class="container tagHeader mostPopularTags">
    <h3>Popular TikTok Hashtags</h3>
    <ul class="relatedTags">
        <li><a href="https://tubzi.com/feature/tiktok-tag/12883">#<strong>feature</strong></a></li>
        <li><a href="https://tubzi.com/life/tiktok-tag/5434">#<strong>life</strong></a></li>
        <li><a href="https://tubzi.com/celeblookalike/tiktok-tag/7152619">#<strong>celeblookalike</strong></a></li>
        <li><a href="https://tubzi.com/nike/tiktok-tag/9789">#<strong>nike</strong></a></li>
        <li><a href="https://tubzi.com/yannyorlaurel/tiktok-tag/1600619100574725">#<strong>yannyorlaurel</strong></a>
        </li>
        <li><a href="https://tubzi.com/foryoupage/tiktok-tag/88764338">#<strong>foryoupage</strong></a></li>
        <li><a href="https://tubzi.com/footshake/tiktok-tag/11732755">#<strong>footshake</strong></a></li>
        <li><a href="https://tubzi.com/fireworks/tiktok-tag/6336">#<strong>fireworks</strong></a></li>
        <li><a href="https://tubzi.com/belgium/tiktok-tag/18599">#<strong>belgium</strong></a></li>
        <li><a href="https://tubzi.com/couplegoals/tiktok-tag/43029">#<strong>couplegoals</strong></a></li>
        <li><a href="https://tubzi.com/teamgood/tiktok-tag/6474409">#<strong>teamgood</strong></a></li>
        <li><a href="https://tubzi.com/sweden/tiktok-tag/13076">#<strong>sweden</strong></a></li>
        <li><a href="https://tubzi.com/love/tiktok-tag/4231">#<strong>love</strong></a></li>
    </ul>
</div>
<div class="container tagHeader">
    <h3>Discover Tiktok Popular Videos</h3>

    {{#each topTrendPost}}
    {{>client/post-item}}
    {{/each}}
</div>

{{>client/footer}}
<script type="text/javascript"> activePage = 'Top Videos';</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<script type="text/javascript"> $(document).ready(function () {
        $(".searchresultrightdiv").css("max-height", $(".searchresultleft").height()); parseEmoji();
    });
    $("#img_6822810817029803269").hover(function () { $(".userinpic").css("display", "block"); },
        function () { $(".userinpic").css("display", "none"); }); $(".userinpic").hover(function () { $(".userinpic").css("display", "block"); },
            function () { $(".userinpic").css("display", "none"); });
    var swiper = new Swiper("#stroiesGallery", {
        pagination: "#stroiesGallery .swiper-pagination",
        preloadImages: false, lazy: true,
        watchSlidesVisibility: true,
        slidesPerView: 3, paginationClickable: true,
        spaceBetween: 5,
        breakpoints: { 1024: { slidesPerView: 3, spaceBetween: 20 }, 768: { slidesPerView: 2, spaceBetween: 20, }, 420: { slidesPerView: 1, spaceBetween: 10, } },

        navigation: {
            nextEl: "#stroiesGallery .swiper-button-next",
            prevEl: "#stroiesGallery .swiper-button-prev"
        }
    });
</script>