<!DOCTYPE html>
<html>

<head>
  <title>{{metaTags.title}}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  {{!-- <meta name="description" itemprop="description" content="{{metaTags.description}}">
  <meta name="keywords" content="{{metaTags.keywords}}">
  <meta property="og:image" content={{metaTags.image}}>
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{metaTags.host}}">
  <meta name="generator" content="Node JS v12.16.1">
  <meta property="og:title" content="{{metaTags.title}}">
  <meta property="og:url" content="{{metaTags.currentUrl}}">
  <meta name="theme-color" content="#00aaff">
  <link rel="canonical" href="{{metaTags.domain}}">
  <link rel="shortlink" href="{{metaTags.domain}}"> --}}
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/iOS/Icon-57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/iOS/Icon-60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/iOS/Icon-72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/iOS/Icon-76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/iOS/Icon-114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/iOS/Icon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/iOS/Icon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/iOS/Icon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/iOS/Icon-180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icon/android/Icon-192.png">

  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon/Icon-32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon/Icon-96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon/Icon-16.png">
  {{!-- <link rel="manifest" href="/manifest.json"> --}}
  <link href="https://tubzi.com/css/common.css?v=6.12" rel="stylesheet">
  <link href="https://tubzi.com/styles/tubzi.com/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://tubzi.com/styles/tubzi.com/css/style.css?v=7" rel="stylesheet">
  <link href="https://tubzi.com/styles/tubzi.com/css/fonts/stylesheet.css" rel="stylesheet">
  <link href="/css/fonts/font-awesome.css" rel="stylesheet">




</head>

<body>
  {{{body}}}


  <script src="https://tubzi.com/js/jquery.js"></script>
  <script src="https://tubzi.com/js/jquery.lazy.min.js"></script>
  <script src="https://tubzi.com/js/bootstrap.min.js"></script>
  <script src="https://tubzi.com/js/site.js?v=16"></script>
  <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>


  <script
    type="text/javascript"> SITE_URL = "https://tubzi.com/"; $(function () { $(".lazy_photo").lazy(); console.log("hahahaha") }); </script>
  <div id="gotop" class="icon-up fa fa-arrow-up" style=""></div>
</body>


</html>