<div class="col-sm-12 col-md-6 col-lg-4 pptab">
    <div class="pptabdiv">
        <ul>
            <li class="pp1"> <a href="https://tubzi.com/jdk.official/tiktok-user/6743276500088259590"> <img
                        src="{{this.authorMeta.avatar}}" alt="{{this.authorMeta.name}} - {{this.authorMeta.nickName}}">
                </a> <a
                    href="https://tubzi.com/jdk.official/tiktok-user/6743276500088259590">@{{this.authorMeta.name}}</a>
                <a
                    href="https://tubzi.com/jdk.official/tiktok-user/6743276500088259590">{{this.authorMeta.nickName}}</a>
                <span>2
                    weeks ago</span> </li>
            <li class="pp2 location"></li>
            <li class="pp3" style="overflow:hidden;"> <span title="DE Country Tiktok Video"
                    class="region flag-icon-de"></span> <i class="pVideo fa fa-youtube-play"></i> <a
                    href="https://tubzi.com/jdk.official/tiktok-video/6837459513809898758">
                    <img class="lazy_photo"
                        title="{{this.authorMeta.nickName}} - @{{this.authorMeta.name}} - {{this.text}}"
                        data-src="{{this.covers.dynamic}}" alt=""> <span>{{this.authorMeta.nickName}} - @{{this.authorMeta.name}} - {{this.text}}</span> </a> </li>
            <li class="pp4"> <span
                    title="@{{this.authorMeta.name}} {{this.authorMeta.nickName}} TikTok Video Like Count"
                    class="photolike"><i class="fa fa-heart-o"
                        aria-hidden="true"></i>{{numberWithCommas this.diggCount}}</span> <span
                    title="@{{this.authorMeta.name}}- JDK TikTok Video Comment Count" class="photocomment"><i
                        class="fa fa-comment-o" aria-hidden="true"></i>{{numberWithCommas this.commentCount}}</span>
                <span title="@{{this.authorMeta.name}}- JDK TikTok Video Share Count" class="photocomment"><i
                        class="fa fa-share-square" aria-hidden="true"></i>{{numberWithCommas this.shareCount}}</span>
            </li>
        </ul>
    </div>
</div>